@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

:root {
    --azul: #3a87eb;
    --azulborda: #0021dd;
    --azulbt: #2478d8;
    --azulbt2: #0a386d;
    --branco: #fff;
    --azulmarinho: #051041;
    --laranja: #cc5916;
    --verde: #37943f;
    --vermelho: #d10505;
    --preto: #000;
    --transparente: #c9c9c93b;
}

body {
    background-color: var(--azul);
}

#cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
/* ------------------------- */
.addfriends {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 15px;
    font-family: Bangers;
    color: var(--branco);
    background-color: #051041;
    width: 7%;
    height: 21px;
    padding: 0.2em;
    border: solid 1.5px var(--azulborda);
}

.addfriends img {
    width: 10%;
    color: var(--branco);
}

.buttons {
    display: flex;
    gap: 25px;
    background-color: none;
    color: var(--branco);
    font-family: Bangers;
}

.buttons p:hover {
    padding: 0.3em;
    background-color: var(--branco);
    color: var(--preto);
}

.my-vbucks {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Bangers;
    color: var(--branco);
    background-color: var(--azulbt2);
    gap: 7px;
    width: 7%;
    height: 21px;
    padding: 0.2em;
    border: solid 1.5px var(--azulborda);
}

.my-vbucks img {
    width: 30%;
}

.menu {
    background-color: var(--azulbt2);
    color: var(--branco);
    border: solid 1.5px var(--azulborda);
    padding: 0.2em;
}

/* ------------------------- */
.buttons-compra  {
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 4px;
    color: var(--branco);
    font-family: Bangers;

}

.buttons-compra p {
    background-color: var(--azulbt);
    padding: 0.5em;
}

/* ------------------------------ */
#meio {
    display: flex;
    flex-direction: column;
}

.info-loja {
    display: flex;
    justify-content: space-between;
    color: var(--branco);
    font-family: Bangers;
    font-size: 16pt;
}

.compras {
    display: flex;
    gap: 12px;
}
/* --------------- */
.cards {
    width: 33vh;
    height: 52vh;
    background-color: var(--azul);
    border: solid 1px var(--branco);
}

.cards img {
    width: 100%;
}

/* -------------------- */
.cards1 {
    width: 33vh;
    height: 52vh;
    background-color: var(--verde);
    border: solid 1px var(--branco);
}

.cards1 img {
    width: 100%;
}

/* --------------- */
.cards2 {
    width: 33vh;
    height: 52vh;
    background-color: var(--laranja);
    border: solid 1px var(--branco);
}

.cards2 img {
    width: 100%;
}

/* ---------------------- */
.tdfig {
    height:35%;
    background-color: var(--transparente);
}

.nameitem {
    text-align: center;
    color: var(--branco);
    font-family: Bangers;
    font-size: 16pt;
    position: relative;
    bottom: -10px;
}

.funcitem {
    color: var(--branco);
    text-align: center;
    position: relative;
    bottom: -32px;
}

.vb-vl {
    padding: 0.5em;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: -32px;
    gap: 7px;
    font-family: Bangers;
    background-color: var(--azulmarinho);
    color: var(--branco);
    text-align: center;
}

.vb-vl img {
    width: 10%;
}

.cardss {
    width: 28vh;
    height: 29vh;
    background-color: var(--laranja);
    border: solid 1px var(--branco);
}

.cardss img {
    width: 80%;
    
}

.vb-vl1 {
    padding: 0.5em;
    display: flex;
    position: relative;
    justify-content: center;
    font-family: Bangers;
    background-color: var(--azulmarinho);
    color: var(--branco);
    text-align: center;
}

.vb-vl1 img {
    width: 10%;
}

.nameefunc {
    position: relative;
    bottom: -px;
    font-family: Bangers;
    color: var(--branco);
    text-align: center;
    background-color: var(--transparente);
}

.tdfig1 {
    position: relative;
    top: -34px;
}

/* ------------------------------- */
.info-itens {
    text-align: center;
    color: var(--branco);
    font-family: sans-serif;
    font-size: small;
}

/* ---------------------- */
footer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: var(--azulmarinho);
}

.crd {
    
    background-color: #95b5df;
    color: var(--branco);
    font-family: Bangers;
}